@{
ViewData["Title"] = "About | ";
}
<html>
    <body>
        <div class="container">

            <div class="split left">
                <img class="profileimg"
                    src="~/images/proj_images/profileimage.jpg">
            </div>
            <div class="split right r2">
                <h3>About Me</h3>
                <br>
                <p>Hello, my name is Jay Patel. I am a full stack software
                    engineer passionate about front
                    <br>end development. I grew up in Florida and recently moved
                    to the Seattle area to major in
                    <br>business and pursue a career at a tech company. When I
                    realized that although
                    <br>I love business, technology was an area I wanted to
                    focus on and landed on coding again.
                    <br>Although I had tried coding before, I had never given it
                    a fair chance before. But once
                    <br>I did I fell in love with it and knew I wanted to pursue
                    a career in the software engineering field!
                    <br>
                    <br>
                    <h5>Seeking Oppurtunities as of July 2019</h5>
                    <br>
                    <p>Feel free to reach out to me:</p>
                    <h6>Email:</h6><p onclick="window.location.href=
                        'mailto: 0107.patel.jay@gmail.com';">
                        0107.patel.jay@gmail.com</p>
                    <h6>LinkedIn:</h6><p onclick="window.location.href=
                        'https://www.linkedin.com/in/jay-patel-/';">www.linkedin.com/in/jay-patel-/</p>
                </p>
            </div>
        </div>
    </body>

</html>