<html>
    <body>
        <div class="contactList">

            <p onclick="window.location.href=
                'https://www.linkedin.com/in/jay-patel-/';"><i
                    class="fa">&#xf08c;</i>
                LinkedIn</p>
           
            <p onclick="window.location.href=
                'https://github.com/Jaypatel07';"><i class="fa">&#xf09b;</i>
                GitHub</p>
           
            <p onclick="window.location.href=
                'mailto: 0107.patel.jay@gmail.com';">
                0107.patel.jay@gmail.com
            </p>
           
        </div>

        <form action='mailto: 0107.patel.jay@gmail.com' method="post"
            enctype="text/plain">
            Name:<br>
            <input id="name" type="text" name="name"><br>
            Message:<br>
            <textarea type="text" name="message"> </textarea>
            <br>
            <br>
            <input class="emailbutton" type="submit" value="Send">
        
            <input class="emailbutton" type="reset" value="Reset">
        </form>
    </body>
</html>