<html>
    <body>
        <ul class="contactlist">
            <li onclick="window.location.href=
                'https://www.linkedin.com/in/jay-patel-/';"><i
                    class="fa">&#xf08c;</i>
                LinkedIn</li>
            <li onclick="window.location.href=
                'https://github.com/Jaypatel07';"><i class="fa">&#xf09b;</i>
                GitHub</li>
            <li onclick="window.location.href=
                'mailto: 0107.patel.jay@gmail.com';">
                0107.patel.jay@gmail.com</li>

        </ul>
        <form action='mailto: 0107.patel.jay@gmail.com' method="post"
            enctype="text/plain">
            Name:<br>
            <input type="text" name="name"><br>
            E-mail:<br>
            <input type="text" name="email"><br>
            Message:<br>
            <textarea type="text" name="Message" rows="4" cols="40"> </textarea>
            <br>
            <br>
            <input class="emailbutton" type="submit" value="Send">
        
            <input class="emailbutton" type="reset" value="Reset">
        </form>
    </body>
</html>