@{
ViewData["Title"] = "Projects | ";

}

<!DOCTYPE html>
<html lang="en">
<body>
    <div class="container">
    <table class="table projtable">
        <th scope="col"><h2>Projects</h2></th>
        <tr scope="row">
            <td class="projbox">
                <img class="projImg" src="~/images/proj_images/EatAp.png"
                    alt="EatAp
                    Image">
                <div class="projmid">
                    <div class="col projtext">.NET Core</div>
                    <div class="col projtext">Entity Core</div>
                    <div class="col projtext">C#</div>
                    <div class="col projtext">MySQL</div>
                    <div class="col projtext">jQuery</div>
                    <div class="col projtext">Bootstrap</div>
                    <div class="col projtext">Speech to Text</div>
                    <div class="col projtext">Search</div>
                    <div class="col projtext">Login/Registration</div>
                </div>
                <button class="col viewcode" onclick="window.location.href=
                    'https://github.com/Jaypatel07/EatAp';">View Code</button>
            </td>
        </tr>
        <tr scope="row">
            <td class="projbox">
                <img class="projImg" src="~/images/proj_images/PetSpa.png"
                    alt="Pet
                    Spa Image">
                <div class="projmid">
                    <div class="col projtext">Python</div>
                    <div class="col projtext">Django</div>
                    <div class="col projtext">MySQL</div>
                    <div class="col projtext">Scheduling</div>
                    <div class="col projtext">Login/Registration</div>
                </div>
                <button class="col viewcode" onclick="window.location.href=
                    'https://github.com/Jaypatel07/Pet-Spa';">View Code</button>
            </td>
        </tr>
    </table>
    <p>Project using MEAN coming soon!</p>
    </div>
    </body>

</html>