/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
	white-space: normal;
	word-break: break-all;
	color: white;
}

nav {
	position: sticky;
}

.nav-link {
	color: white;
}

.nav-link:hover {
	text-decoration: underline;
	color: white;
	font-weight: bold;
}

.navbar, .header {
	z-index: 1;
}

.navbar-toggler {
	color: white;
	z-index: 1;
}

footer {
	z-index: 1;
}

/* Sticky footer styles
-------------------------------------------------- */

@media (min-width: 768px) {
	html {
		font-size: 1.17vw;
	}
}

.box-shadow {
	box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy {
	font-size: 1rem;
	line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */

html {
	position: relative;
	min-height: 100%;
}

body {
	padding: 70px;
	/* Margin bottom by footer height */
	color: white;
	text-align: center;
	background-color: #262934;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	transform: translate(-5%, 50%);
	white-space: nowrap;
	/* Set the fixed height of the footer here */
	height: 5.48vw;
	line-height: 5.48vw;
	/* Vertically center the text there */
}

footer, header {
	background: transparent;
}

@media (max-width: 1200px) {
	.left {
		height: 50%
	}
	.right {
		height: 50%
	}
}

.left {
	left: 0;
}

.col-lg-6.col-sm-12.left {
	height: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.col-lg-6.col-sm-12.right {
	height: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.right {
	right: 0;
	background-color: #393f4d;
}

.col-lg-6.col-sm-12 {
	height: 100%;
	width: 50%;
	position: fixed;
	z-index: 0;
	top: 0;
}

.centertitle {
	font-size: 5vw;
	z-index: 2;
	top: 50%;
	left: 50%;
	margin: 0;
	transform: translate(-50%, -50%);
	position: absolute;
	color: #0ebfe9;
	white-space: nowrap;
}

.centertitle:before {
	content: attr(data-heading);
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	width: 50%;
	color: #ffff;
	z-index: 2;
}

.skillstitle {
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	color: #ffff;
	z-index: 2;
}

.clicked {
	font-size: 6vw;
	z-index: 2;
	top: 15%;
	left: 50%;
	margin: 0;
	position: absolute;
	color: #0ebfe9;
	white-space: nowrap;
}

.clicked:before {
	content: attr(data-heading);
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	width: 50%;
	color: #ffff;
	z-index: 2;
}

.slides {
	display: flex;
	width: 100%;
	height: 100%;
}

.slides>div {
	flex-shrink: 0;
	width: 100%;
	height: 100%;
	transform-origin: center center;
	transform: scale(1);
	transition: transform 0.5s;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

#slide-2 {
	width: 100%;
	height: 100%;
}

#slide-1 a {
	text-decoration: none;
	color: white;
	width: 5.11vw;
	height: 5.11vw;
	font-size: 1.3vw;
	line-height: 3.77;
	border-radius: 2.56vw;
	background-color: #0ebfe9;
	transform: translate(400%, 50%);
}

#slide-2 a {
	text-decoration: none;
	color: white;
}

#slide-1 a:hover, #slide-2 a:hover {
	background-color: transparent;
}

.skillicons {
	width: 3.65vw;
	display: none;
}

table.table, .table-responsive {
	width: 100%;
	height: 100%;
}

.table th, .table td, .table thead th {
	border: none;
	color: white;
}

.table th {
	text-decoration: underline;
}

.table.proj {
	left: 50%;
}

.projbox {
	position: relative;
	width: 50%;
}

.projImg {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
}

.projmid {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 75%;
	vertical-align: top;
	display: inline-block;
}

.projbox:hover .projImg {
	opacity: 0.3;
}

.projbox:hover .projmid {
	opacity: 1;
}

.projtext {
	background-color: #393f4d;
	opacity: 0.9;
	width: 25%;
	margin-top: 0.73vw;
	color: white;
	font-size: 1.2vw;
	padding: 1.17vw 1.09vw;
}

.col {
	display: inline-block;
	vertical-align: top;
}

.viewcode {
	display: none;
}

.projbox:hover .viewcode {
	background-color: #0ebfe9;
	color: white;
	height: 3.65vw;
	opacity: 0.9;
	border: none;
	backface-visibility: hidden;
	display: block;
	font-size: 2vw;
}

ul.footerul {
	padding: 0.73vw 1.16vw;
	list-style: none;
	line-height: 100%;
	width: 100%;
	background-color: transparent;
}

ul.footerul li {
	display: inline;
	font-size: 1.3vw;
}

ul.footerul li+li:before {
	padding: 0.58vw;
	color: white;
	content: "\00a0";
}

ul.footerul li a {
	text-decoration: none;
}

.fa {
	font-size: 1.75vw;
}

.contactlist {
	margin-top: 7.3vw;
	text-align: center;
}

.emailbutton {
	width: 7.48vw;
	height: 3.19vw;
	margin-top: 0.73vw;
	font-size: 1vw;
}

.favicon {
	width: 1.17vw;
	height: 1.17vw;
}

.logo {
	width: 2.31vw;
	height: auto;
	object-fit: contain;
}

.profileimg {
	outline: 0.29vw solid black;
	width: 30vw;
}

.aboutl, .aboutr {
	font-size: 1.5vw;
}

form {
	text-align: center;
}

#name {
	width: 20vw;
	height: 2vw;
}

textarea {
	width: 60vw;
	height: 20vw;
}